@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Neucha&display=swap');

body,
html,
#root {
    height: 100%;
    width: 100%;
}


.game-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0rem;
    font-family: Neucha, sans-serif;
    font-family: monospace;
    font-size: 1rem;
}

.all-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 18rem;
    width: 10rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid rgb(72, 72, 72);

}

.card-container:hover {
    box-shadow: 0px 0px 1rem lightblue;
}

.card-image {
    height: 80%;
    
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Neucha, sans-serif;
    font-size: 1.1rem;
    height: 100%;
}

.rules {
    padding-top: 1rem;
}