.loading-indicator {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.loading-container,
.gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}