.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal horizontally and vertically */
    width: 100vw; /* Adjust width as needed */
    height: 100vh; /* Adjust height as needed */
    background-color: rgba(0, 0, 0, 0.8); /* Adjust background color and transparency */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    gap: 2rem;
}

.score-container,
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    gap: .5rem;
}

.modal-score {
    color: white;
    font-family: monospace;
    font-size: 1.3rem;
}